<!DOCTYPE html>
<form method="POST">
    <div>
    <label for="nombreYapellido">Nombre y apellido:</label>
    <input type="text" name="nombre" id="nombreYapellido" minlength="6">
</div>
<div>
    <label for="nombreUsuario">Nombre de usuario:</label>
    <input type="text" name="user" id="nombreUsuario" minlength="3">
</div>
<div>
    <label for="fecha">Fecha de nacimiento:</label>
    <input type="date" name="fecha" vale="2021-07-22" id="fecha">
</div>
<div>
    <label for="domicilio">Domicilio:</label>
    <input type="text" name="domiciio" id="domicilio">
</div>
<div>
    <label>Perfil del usuario:</label>
</div>
<div>
    <label for="perfilUsuario">Vendedor:</label>
    <input type="radio" name="perfil" id="perfilUsuario" value="Vender">

    <label for="perfilUsuario">Comprador:</label>
    <input type="radio" name="perfil" id="perfilUsuario" value="Comprar">
</div>
<div>
    <label>Intereses:</label>
</div>
<div>
    <label for="categorias">Electro</label>
    <input type="checkbox" name="categorias" id="categorias" value="Electro">
</div>
<div>
    <label for="categorias">Moda</label>
    <input type="checkbox" name="categorias" id="categorias" value="Moda">
</div>
<div>
    <label for="categorias">Hogar</label>
    <input type="checkbox" name="categorias" id="categorias" value="Hogar">
</div>
<div>
    <label for="categorias">Juguetería</label>
    <input type="checkbox" name="categorias" id="categorias" value="Juguetería">
</div>
<div>
    <label for="categorias">Vida Sana</label>
    <input type="checkbox" name="categorias" id="categorias" value="Vida sana">
</div>
<div>
    <label for="fotoPerfil">Foto de usuario:</label>
    <input type="file" name="fotoPerfil" id="fotoPerfil" accept=".jpg, .jpeg, .png">
</div>
<div>
    <label for="contraseña">Contraseña:</label>
    <input type="password" name="password" id="contraseña">
</div>
<div>
    <label for="confirmarContraseña">Confirmar contraseña:</label>
    <input type="password" name="confirmarContraseña" id="confirmarContraseña">
</div>
<div>
    <button type="reset">Cancelar</button>
    <button type="submit" ><a href="/">Enviar</a></button>
</div>
</form>
